.section-set-password {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-image: linear-gradient(
        to right bottom, 
        rgba(226, 232, 240, 0.7), 
        rgba(241, 245, 249, 0.9)
        ), 
        url(../images/bg-1.jpg);
    background-size: cover;

    height: 90vh;

    padding: 10rem 0rem;
}