{% extends "base_email.html" %}
{% load i18n %}

{% block header %}Activate your account{% endblock %}

{% block text %}
    <b>Hi 
        {% if user.first_name %}
            {{ user.first_name }}
        {% elif user.username %}
            {{ user.username }}
        {% endif %}
    </b> <br>
    
    Please click the link below to activate your account.
{% endblock text %}

{% block btn %}
    <a class="btn" href="http://{{ domain }}{% url 'accounts:activate_account' uidb64=uid token=token %}">Activate your account</a>
{% endblock btn %}
