{% extends "base.html" %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block content %}

    {% include "components/messages.html" with messages=messages %}
    
    <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit" class="btn btn-warning">{% translate "Log in" %}</button>

    </form>


    <p>
        <a href="{% url 'accounts:register' %}" class="link-info">{% translate "Register here" %}</a><br>
    </p>
    <p>
        <a href="{% url 'accounts:reset_password_custom' %}" class="link-info">{% translate "Forgot your password?" %}</a>
    </p>

{% endblock %}