.btn {

    border: 2px solid #0f172a;
    border-radius: 0.5rem;
    border: none;

    &-login {
        font-size: 1.4rem;
        padding: 0.8rem 1.4rem;
        background-color: #0f172a;
        color: white;
        height: 3.6rem;
    }


    &-secondary {
        background-color: #334155;
        color: white;
        padding: 1.6rem 1.8rem;

        &:hover {
            background-color: #475569;
        }
    
    }

    &:hover {
        cursor: pointer;
    }

}

.btn-link {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1rem 1.4rem;
    border-radius: 40rem;
    color: #e2e8f0;
    transition: 0.2s;

    background-color: #334155;

    &:hover {
        transform: translateY(-0.4rem);
    }

    &:active {
        transform: translateY(-0.2rem);
    }
}