.table-list-consumed-foods {

    border-collapse: collapse;
    margin: 2.5rem 0rem;
    font-size: 1.4rem;
    width: 100%;

    & thead tr {
        background-color: #475569;
        color: #ffffff;
        font-weight: bold;
        text-align: left;
    }

    & th,
    & td {
        padding: 2.5rem 1.5rem;
    }

    & tbody tr {
        border-bottom: 1px solid #ffffff;
    }

    & tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    & tbody tr:nth-of-type(odd) {
        background-color: rgba(226, 232, 240, 0.6);
    }

}