.section-list-foods {
    padding: 5rem 20rem;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        to right bottom, 
        rgba(226, 232, 240, 1), 
        rgba(241, 245, 249, 0.8)
        ), 
        url(https://imgix.bustle.com/uploads/image/2020/5/19/f2207691-4c42-42a7-a670-f35d9d21af58-gettyimages-1173390260.jpg?w=1200&h=630&fit=crop&crop=faces&fm=jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @include respond(tab-land) {
        padding: 5rem 10rem;
    }

    @include respond(tab-port) {
        padding: 5rem 5rem;
    }
}

.order_foods {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    &__type {

        text-decoration: none;

        &__box {
            display: flex;
            justify-content: space-around;
            padding: 1rem 0.8rem;
        }

    }
}

.list-foods {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    @include respond(tab-port) {
        justify-content: space-around;
    }

    @include respond(phone) {
        // justify-content: center;
        // align-items: center;
    }
}

.food {
    // border: 2px solid green;
    margin-right: 1rem;
    padding: 1.6rem;
    width: 32rem;

    @include respond(tab-land) {
        width: 23rem;
    }

    @include respond(phone) {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-content: center;

        width: 100%;
    }

    &__image {

        width: 30rem;
        height: 30rem;
        object-fit: cover;

        
        @include respond(tab-land) {
            width: 25rem;
            height: 25rem;
        }

        @include respond(phone) {
            width: 30rem;
            height: 30rem;
        }

        &__box {
            @include respond(phone) {
                display: flex;
                justify-content: center;
            }
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        min-height: 9%;
        // overflow: scroll;
        // text-overflow: ellipsis;
        // white-space: nowrap;

        @include respond(phone) {
            display: flex;
            justify-content: center;
        }
    }

    &__details {

        &__box {
            font-size: 1.4rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }

        &__title {
            font-size: $default-font-size;
            font-weight: 700;
        }

    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include respond(phone) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

