{% extends "base.html" %}
{% load i18n %}

{% block title %}Delete food{% endblock %}

{% block content %}

    <div class="section-delete">
        
        <h2 class="heading-secondary margin-bottom-large">Are you sure you want to delete?</h2>
        <h3 class="heading-tertiary text-align-center margin-bottom-large">{{ object }}</h3>

        {% if object.registered_by_users.all %}
            <h1>Hey you have registered this food, if you delete, it will delete all registered foods.</h1>

            {% for food_consumed in object.registered_by_users.all %}
                <p>{{ food_consumed.food.name }}</p>
            {% endfor %}
        {% endif %}

        <form action="" method="post" class="form-delete">
            {% csrf_token %}

            <input class="btn btn-delete" type="submit" value="Delete">
        </form>

        {{form}}

    </div>


{% endblock %}