{% extends "base.html" %}
{% load i18n %}

{% block title %}All foods{% endblock %}

{% block content %}
    <h1>Registered foods list</h1>

    <a href="{% url 'foods:register_food_create' %}">Register New food</a>
    <hr><hr>
    
    {% for object in page_obj %}
        <p>{{ object }}</p>
        <a href="{% url 'foods:registered_food_consumed_list' object.slug %}">Check all time you ate this food</a>
        <a href="{% url 'foods:register_food_delete' object.slug %}">Delete Registered Food</a>
        <hr>
    {% endfor %}

    {% include "components/pagination.html" %}

    <br>
{% endblock %}
