{% extends "base.html" %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block content %}

    {% include "accounts/messages.html" with messages=messages %}
    
    <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" value="Submit">
    </form>


    <p>
        <a href="{% url 'accounts:register' %}">Register Here</a><br>
    </p>
    <p>
        <a href="{% url 'accounts:reset_password_custom' %}">Forgot your password?</a>
    </p>

{% endblock %}